<header>
  <div>
    <img alt="" src="/favicon.png">
    <img alt="Hantheia" src="/hantheia.png">
  </div>
  <nav id="navigation" aria-label="Menu principal">
    <ul class="menu">
      <li><a href="/">Accueil</a></li>
      <li><a href="/notre-equipe-nos-valeurs">Notre équipe et nos valeurs</a></li>
      <li><a href="/medico-social">Médico-social</a></li>
      <li><a href="/entreprises-et-services-publics">Entreprises et services publics</a></li>
      <li><a href="/particuliers">Particuliers</a></li>
      <li><a href="/videos-et-articles">Vidéos et articles</a></li>
      <li><a href="/nous-contacter">Nous contacter</a></li>
    </ul>
  </nav>
</header>
