<footer>
  <ul id="footer">
    <li><a href="/hantheia/mentions-legales">Mentions légales et conditions générales de vente</a></li>
    <li><a href="/hantheia/accessibilite">Accessibilité : partiellement conforme</a></li>
    <li><a href="/hantheia/gestion-des-cookies">Gérer les cookies</a></li>
    <li>01 89 70 56 04 - <a href="mailto:contact@hantheia.com">contact@hantheia.com</a></li>
    <li>
      <a href="https://www.linkedin.com/company/hantheia/"><img src="/hantheia/linkedin.png"></a>
      <a href="https://youtube.com/@hantheia?si=64Swb3TbtrqeUraF"><img src="/hantheia/youtube.png"></a>
      <a href="https://www.facebook.com/profile.php?id=61582672863951"><img src="/hantheia/facebook.png"></a>
    </li>
  </ul>
</footer>
