<footer>
  <ul id="footer">
    <li><a href="/mentions-legales">Mentions légales et conditions générales de vente</a></li>
    <li><a href="/accessibilite">Accessibilité : partiellement conforme</a></li>
    <li><a href="/gestion-des-cookies">Gérer les cookies</a></li>
    <li>01 89 70 56 04 - <a href="mailto:contact@hantheia.com">contact@hantheia.com</a></li>
    <li>
      <a href="https://www.linkedin.com/company/hantheia/" target="_blank" title="Linkedin - nouvelle page"><img src="/linkedin.png" height="30" width="30" alt="Linkedin"></a>
      <a href="https://youtube.com/@hantheia?si=64Swb3TbtrqeUraF" target="_blank"><img src="/youtube.png" height="24" width="40" alt="Youtube"></a>
      <a href="https://www.facebook.com/profile.php?id=61582672863951" target="_blank"><img src="/facebook.png" height="30" width="30" alt="Facebook"></a>
    </li>
  </ul>
</footer>
