---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Entreprises et services publics">
  <h1 class="h1">Entreprises et services publics</h1>
  <p>
    Pour vous accompagner dans les problématiques que vous rencontrez, nous vous proposons de choisir entre deux modalités d’intervention : la formation et le soutien à la résolution de difficultés.
  </p>
  <h2 class="h2">Formation</h2>
  <p>
    <a href="/catalogue-2026-entreprises-services-publics.pdf" target="_blank" title="Téléchargez notre catalogue Entreprises et services publics 2026 pour retrouver notre offre de formations - nouvelle page">Téléchargez notre catalogue Entreprises et services publics 2026 pour retrouver notre offre de formations</a>
  </p>
  <h2 class="h2">Soutien à la résolution de difficultés</h2>
  <p>
    Au quotidien dans les entreprises et services publics, des situations problématiques en lien avec le handicap ou la vulnérabilité surviennent. Face à leur complexité ou à leur récurrence, les managers, salariés et agents peuvent avoir besoin de soutien. C’est précisément dans ce contexte que nous vous proposons d’intervenir.
  </p>
  <p>
    Ces difficultés et crises peuvent correspondre aux cas suivants :
  </p>
  <ul>
    <li>méconnaissance du handicap et de ses implications dans le travail ;</li>
    <li>tensions entre collègues au sein d'une équipe et/ou dans les relations hiérarchiques, liées à la situation de handicap ou de vulnérabilité ;</li>
    <li>conflits au sein d’une équipe ;</li>
    <li>prépondérance de la vision déficitaire du handicap.</li>
  </ul>
  <p>Deux consultantes interviennent pour vous accompagner. L’expertise proposée est double :</p>
  <ul>
    <li>expertise juridique, nous vous communiquons les informations en droit ;</li>
    <li>expertise en bientraitance, nous vous proposons des applications concrètes.</li>
  </ul>
  <p>Notre méthodologie implique les étapes suivantes :</p>
  <ul>
    <li>présentation de la situation problématique lors d’un échange de 30 minutes par téléphone ou en visioconférence pour définir le périmètre de la demande, les besoins et les attentes ;</li>
    <li>proposition d'un plan d’intervention contenant objet et contours de la mission, délai de réalisation (calendrier), moyens mobilisés et coût de la prestation ;</li>
    <li>à réception du devis signé, mise en place du protocole ;</li>
    <li>restitution orale et envoi d’une note de synthèse.</li>
  </ul>
  <p>
    Pour plus de renseignements, modalités et tarifs, contactez-nous : <a href="mailto:contact@hantheia.com">contact@hantheia.com</a> ou 01 89 70 56 04.
    <br>
    <br>
    AVERTISSEMENT : Notre réponse appuyée sur une double expertise ne se substitue pas à une consultation juridique dispensée par un avocat-conseil.
  </p>
</Layout>
