---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Accueil">
  <div class="accueil">
    <img alt="" src="/accueil.png">
  </div>
  <p>
    <span class="h1">Qui sommes-nous ?</span> Hantheia est un organisme de <strong>formation</strong> et de <strong>soutien</strong> à la résolution de difficultés, crises et conflits.
    <br>
    <br/>
    <span class="h1">Que faisons-nous ?</span> Nous agissons pour le respect des droits et l’accompagnement humain des personnes en situation de <strong>handicap</strong> et des personnes <strong>vulnérables</strong> à tous les âges de la vie.
    <br>
    <br/>
    <span class="h1">Comment ?</span> Nous nous appuyons sur une double compétence : savoir <strong>juridique</strong> et expertise de la relation de <strong>soin</strong> et d’<strong>accompagnement</strong>.
    <br>
   <br/>
    <span class="h1">Pour qui ?</span> Nous nous adressons au secteur médico-social, aux entreprises, services publics et particuliers.
  </p>
  <p>
    <a href="/catalogue-2026.pdf" target="_blank" title="Retrouvez l'ensemble de nos activités dans notre catalogue 2026 - nouvelle page">Retrouvez l'ensemble de nos activités dans notre catalogue 2026</a>
  <p>
</Layout>
