---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Nous contacter">
  <h1 class="h1">Nous contacter</h1>
  <div class="flex">
    <img alt="" src="/nous-contacter.png">
    <p class="center">
      Pour plus de renseignements, modalités et tarifs, n’hésitez pas à nous contacter !
      <br>
      <br>
      <a href="mailto:contact@hantheia.fr">contact@hantheia.com</a>
      <br>
      <br>
      01 89 70 56 04
    </p>
  </div>
</Layout>
