---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Vidéos et articles">
  <h1 class="h1">Vidéos et articles</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aybU4WRmCOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Zl5ts6m5nCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</Layout>